$main-color: #674188;
$secondary-color: #8a50ac;
$pure-white: #FFFBF5;
$light-white: #F7EFE5;
$dark: #2e2e2e;
$green-color: #aaeec6;
$green-color-hover: #7fecac;
$bars-color:#fdeccf;

$light-blue-gradient: linear-gradient(45deg, rgba(#c0abcc, 0.75), rgba(#b896cc, 0.75));
$blue-gradient: linear-gradient(45deg, rgba(#796788, 0.75), rgba(#571c8b, 0.75));
$purple-gradient: linear-gradient(45deg, rgba(190, 109, 201, 0.75), rgba(129, 109, 184, 0.75));
$blue-gradient-solid: linear-gradient(45deg, rgba(#644b7c, 1), rgba(#541988, 1));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(#c0abcc, 1) 0%, rgb(#b896cc, 1) 100%);